@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

::-webkit-scrollbar {
  width: 7px;
  height: 4px;
}

/* Track */
::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 10px;
}
.dark ::-webkit-scrollbar-thumb {
  background: #332222;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(14, 73, 57, 0.30);
  border-radius: 10px;
  background-color: rgba(14, 73, 57, 0.30);
}

.dark ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(14, 73, 57, 0.30);
  border-radius: 10px;
  background-color: rgba(14, 73, 57, 0.5);
}

/* Handle on hover */

.bg-main{
  background-position: 15% 0%;
}

video {
  border-radius: 10px;
  width: 100%;
  height: 100%;
}

.clip{
  -webkit-clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 8%, 88% 0);
  clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 8%, 88% 0);
}

.swiper {
  width: 100%;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

.swiper-slide:nth-child(1n) {
  background-color: rgb(206, 17, 17);
}

.swiper-slide:nth-child(2n) {
  background-color: rgb(0, 140, 255);
}

.swiper-slide:nth-child(3n) {
  background-color: rgb(10, 184, 111);
}

.swiper-slide:nth-child(4n) {
  background-color: rgb(211, 122, 7);
}

.swiper-slide:nth-child(5n) {
  background-color: rgb(118, 163, 12);
}

.swiper-slide:nth-child(6n) {
  background-color: rgb(180, 10, 47);
}

.swiper-slide:nth-child(7n) {
  background-color: rgb(35, 99, 19);
}

.swiper-slide:nth-child(8n) {
  background-color: rgb(0, 68, 255);
}

.swiper-slide:nth-child(9n) {
  background-color: rgb(218, 12, 218);
}

.swiper-slide:nth-child(10n) {
  background-color: rgb(54, 94, 77);
}
